body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    height: 300px;
    width: 500px;
    border: 2px solid;
    position: relative;
}

.div1 {
    height: 100px;
    width: 100px;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 1s ease-in-out; 
}

.div1:hover {
    top: 100px;   
    left: 150px;
}


@keyframes block1 {
    0% {
        top: 0;
        left: 0;
    }
    100% {
        top: 70px;   
        left: 120px;
    }
}

.div2 {
    height: 100px;
    width: 100px;
    background-color: blue;
    position: absolute;     
    top: 50%;               
    left: 50%;              
    transform: translate(-50%, -50%); 
}

.div3 {
    height: 100px;
    width: 100px;
    background-color: rgb(40, 158, 59);
    position: absolute;     
    top: 100%;               
    left: 100%;              
    transform: translate(-100%, -100%);
    transition: all 1s ease-in-out;
}

.div3:hover {
    top: 80%;    
    left: 80%;
    height: 150px;
    width: 150px;
    transform: translate(-50%, -50%) rotate(45deg); 
}